.Header_Container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin: 2px 2px 2px 2px;
    /* border: solid 2px purple; */
    background-image: url("https://images.alphacoders.com/220/thumb-1920-220983.jpg");
    background-position: center;
    background-repeat: no-repeat;
}