.Header_Container {
    position: relative;
    height: 20vh;
    margin: 2px 2px 2px 2px;
    border: solid hsl(23, 20%, 56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.alphacoders.com/220/thumb-1920-220983.jpg");
    background-position: center;
    background-repeat: no-repeat;
}